<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <div>
    <ion-list>
      <ion-item>
        <ion-label type="email">Email: </ion-label>
        <ion-input placeholder="insira seu email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Senha: </ion-label>
        <ion-input placeholder="insira sua senha" type="password"></ion-input>
      </ion-item>

      <ion-label>
        <a href="" class="ion-justify-content-end">Esqueceu sua a senha?</a>
      </ion-label>
    </ion-list>



    <div>
      <ion-grid >
        <ion-row class="ion-justify-content-around">
          <ion-col ize="12" size-sm>

            <ion-button routerLink="/tabs/tab1">Voltar</ion-button></ion-col>
          <ion-col ize="12" size-sm>
            <ion-button  routerLink="/registro">Registrar</ion-button></ion-col>
            <ion-col ize="12" size-sm>
              <ion-button  routerLink="/tabs/tab2">Entrar</ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-card>
</ion-content>
